
<div class="mx-auto container bg-gray-200 min-w-full max-h-screen h-full">  
  <mat-toolbar class="example-header">
    <span class="mat-toolbar-content" style="background: rgba(0,0,0,0.7); padding: 0 16px; border-radius: 4px;">Investigate</span>
  </mat-toolbar>
  <mat-sidenav-container style=" overflow-y:hidden">
    <mat-sidenav opened mode="side" fixedInViewport="false" style="overflow:hidden;">
    </mat-sidenav>
    <mat-sidenav-content class="text-gray-200 h-full full-background" style="width:100vw; height:calc(100vh - 64px); overflow-y: hidden; display: flex;">
      <div class="h-full max-h-screen mt-2 flex flex-col">
        <div class="flex w-full overflow-x-auto mb-4">
        <div class="container-sidenav flex flex-col">
        <div class="container ml-1 mx-auto mt-2">
          <div class="flex container mx-auto">
            <div class="mb-1 container mr-0 mx-auto">
              <div class="flex items-center">
                <div>
                  <input style="width: 137px;"
                    type="text"
                    id="stockSymbol"
                    [(ngModel)]="symbol"
                    (keyup.enter)="searchSymbol(symbol)"
                    class="shadow appearance-none mr-1 border rounded py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="MSFT"
                  >
                </div>
                <div>
                  <button
                    (click)="searchSymbol(symbol)"
                    class="bg-gray-700 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded-md focus:outline-none focus:shadow-outline transition duration-300 ease-in-out"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
            <form [formGroup]="dateRangeForm" class="md:space-y-0">
              <mat-form-field class="text-sm mt-2">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input class="text-sm" [rangePicker]="picker">
                  <input class="text-sm" matStartDate placeholder="Start date" formControlName="start">
                  <input
                    class="text-sm"
                    matEndDate
                    placeholder="End date"
                    formControlName="end"
                    required
                    (dateChange)="getLimitedData(parsedData)"
                  >
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </form>
          </div>
          
        
          <div class="container-gainers">
            <!-- This div will be the container for the TradingView widget -->
            <div class="w-full h-full" id="tradingview_gainers_container">
                <!-- The TradingView widget will be injected here by JavaScript -->
            </div>
          </div>
        </div>
        
        <div class="container-overview ml-2">
          <!-- This div will be the container for the TradingView widget -->
          <div class="w-full h-full" id="tradingview_overview_container">
              <!-- The TradingView widget will be injected here by JavaScript -->
          </div>
        </div>
        
        <div class="container-fundamentals ml-2">
          <!-- This div will be the container for the TradingView widget -->
          <div class="w-full h-full" id="tradingview_fundamentals_container">
              <!-- The TradingView widget will be injected here by JavaScript -->
          </div>
        </div>
        
        <div class="chart-container container-chart ml-2">
          <!-- This div will be the container for the TradingView widget -->
          <div class="w-full h-full" id="tradingview_chart_container">
              <!-- The TradingView widget will be injected here by JavaScript -->
          </div>
        </div>

        
<!--
        <div *ngIf="stockOverview && !loading && !error" class="textcontainer border border-gray-200 container-bg ml-2 shadow-lg rounded-lg p-6 overflow-x-hidden">
          <div *ngFor="let key of (stockOverview | keyvalue)" class="text-gray-200 mb-1">
            <span class="font-semibold">{{ key.key }}:</span> {{ key.value }}
          </div> 
        </div>
        
        <div class="ml-2 container h-full max-h-screen shadow-lg rounded-lg container-bg flex">
          <div *ngIf="loading" class="text-center text-gray-600">Loading stock data...</div>
          <div *ngIf="error" class="text-red-600 text-center font-semibold mt-4">{{ error }}</div>

          <div *ngIf="stockData && !loading && !error" class="shadow-lg rounded-lg pl-6 pr-6 pt-6 pb-6 border border-gray-200 container-bg h-full">
            <h4 class="text-2xl font-semibold mb-4 text-gray-200">Daily Data: {{ fetchedSymbol }}</h4>
            <div class="overflow-x-scroll bg-gray-340 flex flex-grow" style="max-height:426px;">
              <table class="min-w-full divide-y divide-gray-400 bg-gray-50" style="overflow-y:auto;">
                <thead class="bg-gray-200">
                  <tr>
                    <th class="px-5 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                    <th class="px-5 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Open</th>
                    <th class="px-5 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Close</th>
                    <th class="px-5 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Volume</th>
                    <th class="px-5 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Change</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-400">
                  <tr *ngFor="let entry of displayData | keyvalue:displayDataOrder">
                    <td class="px-5 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ entry.value['date'] }}</td>
                    <td class="px-5 py-4 whitespace-nowrap text-sm text-gray-500">{{ entry.value['open'] }}</td>
                    <td class="px-5 py-4 whitespace-nowrap text-sm text-gray-500">{{ entry.value['close']  }}</td>
                    <td class="px-5 py-4 whitespace-nowrap text-sm text-gray-500">{{ entry.value['volume'] }}</td>
                    <td class="px-5 py-4 whitespace-nowrap text-sm text-gray-500">{{ entry.value['change'] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        -->
        <div *ngIf="chartData.length > 1 && !loading && !error" class="container ml-2 p-6 h-full container-bg">
          <h3 class="text-2xl mb-4 text-gray-200">Daily Change Histogram</h3>
          <google-chart
            #chart
            [title]="chartOptions.title"
            [type]="chartType"
            [data]="chartData"
            [options]="chartOptions"
          ></google-chart>
          <p class="text-sm text-gray-500 mt-4 text-center">Distribution of daily percentage changes.</p>
        </div>
<!--
        <div *ngIf="chartData.length > 1 && !loading && !error" class="container border border-gray-200 container-bg ml-2 shadow-lg rounded-lg p-6 h-full">
          <h3 class="text-2xl mb-4 text-gray-200">Daily Change Between Consecutive Opens</h3>
          <google-chart
            #chart
            [title]="openChartOptions.title"
            [type]="chartType"
            [data]="openChartData"
            [options]="openChartOptions"
          ></google-chart>
          <p class="text-sm text-gray-500 mt-4 text-center">Distribution of daily percentage changes.</p>
        </div>-->

        <div *ngIf="chartData.length > 1 && !loading && !error" class="container container-bg ml-2 p-6 h-full">
          <label for="overallGain" class="block text-gray-200 text-m mb-1">
            Overall Gain: {{ overallGain }}
          </label>
          <label for="overallOpenGain" class="block text-gray-200 text-m mb-1">
            Day Trade Gain: {{ overallOpenGain }}
          </label>
          <label *ngIf="daysTraded > 0" for="overallOpenGain" class="block text-gray-200 text-m mb-1">
            Average Daily Gain: {{ (overallOpenGain / daysTraded).toFixed(2) }}%
          </label>
        </div>
      </div>
      <div class="road mt-2">
        <div class="dotted-line"></div>
        <div class="dotted-line-bottom mt-2"></div>
      </div>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>
