::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}
.aiquestions {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 50%;
  height: calc(50% - 26px);
  padding-top: 5px;
  max-width: 700px;
  max-height: 130px;
  min-height:90px;
  box-sizing: border-box;
}
.body {
  font-family: '-apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif';
}
.mat-sidenav {
  background-color: #0f384b !important;
  overflow-y: hidden !important;
  background-size: auto 56px;
}
.mat-toolbar {
  background-color:#101726 !important;
  background-image: url('../assets/openart-pinetree.png');
  background-repeat: repeat;
  background-position-x: 200px;
  background-position: 50px 0;
  background-size: auto 100%;
  color: #F3F1F2 !important;
  background-position: 200px 0;
}
div.mat-drawer-inner-container {
  overflow-y: hidden !important;
}
.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}
.container-sidenav {
  background-color: #0d0d0d;
  color: #2b4863;
  height:526px !important;
  max-width:600px !important;
}
.container-bg {
  background-color: #0d0d0d;
  color: #2b4863;
  height:526px !important;
  max-width:700px !important;
  min-width:300px !important;
  font-family: '-apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "tnum" on, "lnum" on;
  font-size: 13px;
}
.container-gainers {
  background-color: #0d0d0d;
  color: #2b4863;
}
.container-overview {
  background-color: #0d0d0d;
  color: #2b4863;
  height:526px !important;
  min-width:350px !important;
}
.container-fundamentals {
  background-color: #0d0d0d;
  color: #2b4863;
  height:526px !important;
  min-width:350px !important;
}
.container-chart {
  background-color: #0d0d0d;
  color: #2b4863;
  height:526px !important;
  max-width:900px !important;
  min-width:520px !important;
}
.road {
  background-image: url('../assets/openart-road.png');
  background-color: #0d0d0d;
  color: #2b4863;
  position: relative; /* Needed for positioning the line */
  flex: 1 1 auto; /* Allow the road to grow and shrink */
  flex-grow: 1;
}
.dotted-line {
  height: calc(50% - 10px);;
  border-bottom: 2px dotted rgb(228, 228, 26); /* Create the dotted line */
}
.dotted-line-bottom {
  height: 50%;
  border-top: 2px dotted rgb(228, 228, 26); /* Create the dotted line */
}
.full-background {
  background-image: url('../assets/openart-ocean.png');
  background-color: #080c1d;
}
section {
  display: table;
}
mat-form-field {
  width: 220px;
  height: 75px;
  font-size:12px;
}
.container {
  max-width: 900px;
}
input, button {
  border-radius: 0.5rem; /* rounded-lg */
}